# Git for cpp source code, ignore game content, engine, etc.
UE_4.26  
Backup
Binaries
Build
Config
Content
DerivedDataCache
Intermediate
Saved
Script
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.uproject
*.xcodeproj
*.xcworkspace